<div class="h-16 w-full flex justify-between items-center px-8">
	<a href="{{ path('app_home') }}" class="flex items-center">
		<img src="{{ asset('images/Job-logo.png') }}" alt="logo du site"/>
	</a>
	{% if app.user %}
		<div class="flex items-center space-x-4">
			<div class="text-md font-medium">{{ 'Wazaaa, ' ~ app.user.firstname ~ ' !' }}</div>
			<div>
				<a href="{{ path('app_logout') }}" class="space-x-2">
					<button type="button" class="rounded px-4 bg-white text-blue font-semibold">
						<span>Déconnexion</span>
					</button>
				</a>
			</div>
		</div>
	{% else %}
		<div class="flex space-x-4">
			<a href="{{ path('app_login') }}" class="rounded-md px-4 py-2 bg-blue-600 text-white hover:bg-blue-700">Connexion</a>
			<a href="{{ path('app_register') }}" class="rounded-md px-4 py-2 bg-green-600 text-white hover:bg-green-700">Inscription</a>
		</div>
	{% endif %}
</div>
