{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <div class="flex flex-col justify-between space-y-10 item-center mx-auto mt-8">

        <!-- Featured Topics -->
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Select une entreprise</h2>
                {{ form_start(companyForm) }}
                {{ form_end(companyForm) }}
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Topic 2</h2>
                <div id="company-container">
                    {% if company is defined %}
                        <table class="table bg-white p-6 rounded-lg shadow-md">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ company.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ company.name }}</td>
                                    <th>Description</th>
                                    <td>{{ company.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Topic 3</h2>
                <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </section>

    </div>
</div>

{% endblock %}
{% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selects = document.getElementsByClassName('form-select');
      const companyContainer = document.getElementById('company-container');

      Array.from(selects).forEach(select => {
        select.addEventListener('change', function () {
          const selectedCompanyId = this.value;

          // Make an Ajax request using Fetch API
          fetch(`/company/${selectedCompanyId}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(`Error: ${response.status}`);
              }
              return response.json(); // Parse the JSON response
            })
            .then(data => {
              // Update the DOM with the received company HTML content
              console.log(data);
              companyContainer.innerHTML = data;
            })
            .catch(error => {
              // Handle errors
              console.error(error);
            });
        });
      });
    });
  </script>
{% endblock %}
