{{ form_start(form,{'attr':{'class':'text-blue'}}) }}
{{ form_row(form.name, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{{ form_row(form.description, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{{ form_row(form.date, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{{ form_row(form.members, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{{ form_row(form.size, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{{ form_row(form.url, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }}
{# {{ form_row(form.contacts, {'attr': {'class': 'mb-4 w-full px-4 py-2 border rounded'}}) }} #}
{{ component('ContactForm') }}
 <button type="submit" class="bg-white text-blue font-semibold px-4 py-2 rounded w-full">Enregistrer</button>
{{ form_end(form) }}
